.page-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background: url(../img/home-background.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(2px);
}

.page-content {
  margin-top: 10%;
}

.panel-box {
  background-color: rgba(255, 255, 255, 0.60);
  padding: 15px;
}

.font-awesome-input {
  font-family:Arial, FontAwesome;
}

.form-input {
  border-radius: 5px;
  border-color: #a6a6a6;
}

.form-input:focus {
  border-color: #000;
}

#form-subscribe {
  border-radius: 5px;
  padding: 12px 35px;
}

#success_message {
  border: 1px;
  background: #dff0d8;
  border-radius: 2px;
  padding: 3px;
}

#error_message {
  border: 1px;
  background: #f2dede;
  border-radius: 2px;
  padding: 3px;
}